body{
    background-color: lightgrey;
}
.setcolor{
    color: gray;
}

.getcolor{
    color:Red;
}
.parent {
    width:20vw;
    height: 30vh;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.child{
    width:5vw;
    height:5vh;
    border: 4px solid gray;
}
#flexbutton
{
    margin:20px;
}